
DEEPSEEK_API_KEY=
TG_BOT_TOKEN=
TG_ADMIN_CHAT_ID=

# Google Sheets (ID публичной таблицы дневника питания)
# Берётся из URL таблицы: https://docs.google.com/spreadsheets/d/{SPREADSHEET_ID}/edit
FOOD_DIARY_SPREADSHEET_ID=
